.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(1 / 8 * 100%);
  height: calc(1 / 8 * 100%);
}

.light.blue {
  background-color: #76c7e9;
}

.dark.blue {
  background-color: #268ccc;
}

.light.red {
  background-color: #eb7b6a;
}

.dark.red {
  background-color: #cb645e;
}
