.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-size: contain;
  cursor: grab;
  transition: transform 0.3s ease;
  will-change: transform;
}

.light.focused {
  background-color: #76c7e9;
}

.dark.focused {
  background-color: #268ccc;
}

.bp {
  background-image: url(/src/assets/images/chess-pieces/default/bp.png);
}

.bb {
  background-image: url(/src/assets/images/chess-pieces/default/bb.png);
}

.bn {
  background-image: url(/src/assets/images/chess-pieces/default/bn.png);
}

.br {
  background-image: url(/src/assets/images/chess-pieces/default/br.png);
}

.bq {
  background-image: url(/src/assets/images/chess-pieces/default/bq.png);
}

.bk {
  background-image: url(/src/assets/images/chess-pieces/default/bk.png);
}

.wp {
  background-image: url(/src/assets/images/chess-pieces/default/wp.png);
}

.wb {
  background-image: url(/src/assets/images/chess-pieces/default/wb.png);
}

.wn {
  background-image: url(/src/assets/images/chess-pieces/default/wn.png);
}

.wr {
  background-image: url(/src/assets/images/chess-pieces/default/wr.png);
}

.wq {
  background-image: url(/src/assets/images/chess-pieces/default/wq.png);
}

.wk {
  background-image: url(/src/assets/images/chess-pieces/default/wk.png);
}
